@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(imagenes/logoR.png);
    background-size: cover;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 60px;
}

.Formulario{
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #707070;
    font-size: 40px;
    padding: 70px 02px 0 0;
}

input[type="texto"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    text-align: center;
    
}

.material-symbols-outlined{
    text-align: center;
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #707070;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

@media(min-width:768px){
    .Formulario{
        margin: auto;
        width: 600px;
        margin-top: 12  0px;
        border-radius: 2%;
    }
}